
seaborn
timm
Pillow
numpy==1.23.5
opencv_python
loguru
scikit-image
tqdm
thop
ninja
tabulate
tensorboard
lap
filterpy
h5py

cython_bbox
pandas
xmltodict

onnx>=1.13.0
onnx-simplifier==0.4.10


matplotlib
scipy
Pillow
numpy
prettytable
easydict
scikit-learn
pyyaml
yacs
termcolor
tabulate
tensorboard
opencv-python
pyyaml
yacs
termcolor
scikit-learn
tabulate
gdown
faiss-gpu

pytest
colorcet

optuna
psutil
objgraph
stonesoup
pyehm